<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Dodaj pracownika</title>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet"/>
</head>

<body>

<div class="container">

    <h3>Dodaj nowego użytkownika</h3>
    <hr/>

    <form method="POST" th:action="@{employees/create}" th:object="${employee}">

        <input class="form-control col-4 mb-4" placeholder="Uzupełnij nazwę użytkownika" th:field="*{username}" type="hidden"/>
        <input class="form-control col-4 mb-4" placeholder="Uzupełnij imię" th:field="*{firstName}" type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Uzupełnij nazwisko" th:field="*{lastName}" type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Uzupełnij e-mail" th:field="*{email}" type="text"/>
        <select th:field="*{grade}">
            <option value="">Wybierz stopień</option>
            <option th:each="grade : ${grades}" th:value="${grade}" th:text="${grade}"></option>
        </select>
        <input class="form-control col-4 mb-4" placeholder="Enter capacity, max 100" th:field="*{capacity}" type="number" th:max="100" th:min="0"/>
        <input th:field="*{id}" type="hidden"/>

        <button class="btn btn-primary col-2" type="submit">Save</button>
    </form>
    <hr/>
    <a th:href="@{/desktop}">Wróć do pulpitu</a>
</div>
</body>
</html>