<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Spring Boot Thymeleaf Application - Employee Management</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container" sec:authorize="hasAuthority('ROLE_ADMIN')">

    <h3>Lista pracowników</h3>

    <hr/>
    <a th:href="@{/addEmployee}" class="btn btn-primary">Dodaj użytkownika</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="employeeTable">

        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa użytkownika</th>
            <th>E-mail</th>
            <th>Role</th>
            <th>Stopień zatrudnienia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.firstName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.username}"/>
            <td th:text="${employee.email}"/>
            <td th:text="${employee.roles}"/>
            <td th:text="${employee.grade}"/>
            <td>
                <a th:href="@{'/keycloak/updateEmployee/' + ${employee.id}}" class="btn btn-info">Aktualizuj</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/desktop}">Wróć do pulpitu</a>
</div>
</body>
</html>