<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Lista pracowników</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>


<div class="container">

    <h3>Lista projektów</h3>

    <hr/>
    <a  sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/addProject}" class="btn btn-primary">Dodaj projekt</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="projectTable">

        <thead>
        <tr>
            <th>Nazwa projektu</th>
            <th>Opis</th>
            <th>Właściciel projektu (osoba do kontaktu)</th>
            <th>Status projektu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projects}">
            <td th:text="${project.name}" />
            <td th:text="${project.description}" />
            <td th:text="${project.owner.toString()}"/>
            <td th:text="${project.projectStatus}"/>
            <td>
                <a th:href="@{'/updateProject/' + ${project.id}}" class="btn btn-info" sec:authorize="hasAuthority('ROLE_ADMIN')">Aktualizuj</a>
                <a th:href="@{'/projectDetails/' + ${project.id}}" class="btn btn-info">Szczegóły</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div sec:authorize="hasAuthority('ROLE_PM')" class="container">
    <br/><br/>
    <h3>Lista projektów w których pełnisz rolę właściciela</h3>
    <hr/>
    <br/><br/>
    <table class="table table-bordered table-striped" id="userProjectTable">
        <thead>
        <tr>
            <th>Nazwa projektu</th>
            <th>Opis</th>
            <th>Właściciel projektu (osoba do kontaktu)</th>
            <th>Status projektu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projectsPM}">
            <td th:text="${project.name}" />
            <td th:text="${project.description}" />
            <td th:text="${project.owner.toString()}"/>
            <td th:text="${project.projectStatus}"/>
            <td>
                <a th:href="@{'/projectDetails/' + ${project.id}}" class="btn btn-info">Szczegóły</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/desktop}">Wróć do pulpitu</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#projectTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>
</html>