<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring Boot Thymeleaf Application - Employee Management</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <h3>Edytuj zadanie</h3>
            <hr/>

            <form method="POST" th:action="@{/saveTask}" th:object="${task}">
                <div class="form-group">
                    <label for="project">Projekt</label>
                    <input id="project" class="form-control" th:field="*{project}" th:value="${project.name}"
                           th:placeholder="${project.name}"
                           readonly="readonly"/>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" class="form-control" th:field="*{taskStatus}">
                        <option value="">Zmień status</option>
                        <option th:each="status : ${statuses}" th:text="${status}" th:value="${status}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="employee-level">Poziom pracownika</label>
                    <input id="employee-level" class="form-control" th:field="*{grade}" th:value="${grade}"
                           th:placeholder="${grade}"
                           readonly="readonly"/>
                </div>

                <div class="form-group">
                    <label for="percentage">Wymagana dostępność</label>
                    <input id="percentage" class="form-control" th:field="*{capacity}" th:value="${task.capacity}"
                           th:placeholder="${task.capacity} + '%'"
                           readonly="readonly"/>
                </div>

                <div class="form-group">
                    <input class="form-control" th:field="*{preferredSkillList}" th:value="${preferredSkills}"
                           type="hidden"/>
                </div>

                <input th:field="*{id}" type="hidden"/>

                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
    <hr/>
    <a th:href="@{/desktop}">Wróć do pulpitu</a>
</div>

</body>
</html>